%div{ :id => "map_canvas", :style => "width: 100%; height: 100%"}
%div{ :class => "overlay" }
%script{ :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCkeUA-XttGBfkvoWC6aGic50jUwc6mAwE&sensor=true"}
%script
  NatlPark.initialize({parks : #{@parks.to_json.html_safe}});