%div{ :id => "map_canvas", :style => "width: 100%; height: 100%"}
%script{ :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCkeUA-XttGBfkvoWC6aGic50jUwc6mAwE&sensor=true"}
%script
  function initialize() {
  var mapOptions = {
  center: new google.maps.LatLng(30.5, -98.5),
  zoom: 4,
  disableDefaultUI: true,
  mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  };
  $(document).ready(function(){initialize()});
%script
  var parks = new Parks(#{@parks.to_json.html_safe});